<div class="latest-release-frame">
  <div class="latest-release-c">

    <!--the newest release-->
    <p class="newestRelease-SongName">Song Name</p>
    <p class="newestRelease-ArtistName">Simply Music</p>

<!--    <img *ngIf="true" class="miniplayer"src="assets/img/Releases/player1.png">-->


    <div class="frame">
      <img class="mainRelease" src="assets/img/Releases/Release1.png">
      <img class="vinylNew" src="assets/img/Releases/Vinyl.png">
    </div>


    <hr class="breakLine">
    <p class="breaklineText">OLDER RELEASES</p>
    <!--    <hr class="breakLine">-->

    <div style="float: left; margin-top: 10px;">
      <img class="olderRelease" src="assets/img/Releases/ReleaseOld.png">
      <img class="vinylOld" src="assets/img/Releases/VinylOld.png">
      <p class="albumName">ALBUM NAME</p>
    </div>

    <div style="float: left; margin-top: 10px;">
      <img class="olderRelease" src="assets/img/Releases/ReleaseOld.png">
      <img class="vinylOld" src="assets/img/Releases/VinylOld.png">
      <p class="albumName">ALBUM NAME</p>
    </div>

    <div style="float: left; margin-top: 10px;">
      <img class="olderRelease" src="assets/img/Releases/ReleaseOld.png">
      <img class="vinylOld" src="assets/img/Releases/VinylOld.png">
      <p class="albumName">ALBUM NAME</p>
    </div>

    <div style="float: left; margin-top: 10px;">
      <img class="olderRelease" src="assets/img/Releases/ReleaseOld.png">
      <img class="vinylOld" src="assets/img/Releases/VinylOld.png">
      <p class="albumName">ALBUM NAME</p>
    </div>



  </div>
</div>


