.latest-release-c {
  margin-top: 100px;
  width: 90%;
  height: 800px;
  background: linear-gradient(152.46deg, #D54424 0%, #C74126 0.01%, #07193C 97.54%);;
  border-radius: 10px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);

}


.latest-release-frame {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}


.breaklineText {
  position: absolute;
  float: left;
  margin-top: 400px;
  margin-left: 20px;
  font-family: Poppins;
  color: white;
  font-size: 30px;
}

.breakLine {
  color: #ffffff;
  border: solid #ffffff 3px;
  border-radius: 5px;
  margin-top: 420px;
  margin-left: 280px;
}


.frame {
  display: flex;
  flex-direction: row;
}

.mainRelease {
  transition: 1s;
  position: absolute;
  width: 300px;
  float: left;
  order: 2;
  margin-top: 30px;
  margin-left: 30px;
}


.mainRelease:hover + .vinyl {
  transition: 1s;
  margin-left: 180px;

}

.vinyl {
  transition: 1s;
  width: 300px;
  margin-top: 30px;
  margin-left: 30px;
}

.mainRelease:hover {
  border-radius: 10px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}


.newestRelease-SongName {
  position: absolute;

  margin-left: 500px;
  margin-top: 50px;
  letter-spacing: 0px;

  font-family: Poppins;
  color: white;
  font-size: 30px;

}

.newestRelease-ArtistName {
  position: absolute;
  margin-left: 500px;
  margin-top: 90px;
  font-size: 15px;
  font-family: Poppins;
  color: #b7b7b7;
}


