<div class="latest-release-frame" id="latest-release-frame">
  <div class="latest-release-c">


<!--    <img *ngIf="true" class="miniplayer"src="assets/img/Releases/player1.png">-->

<!--    <p class="newestRelease-SongName">Song Name</p>-->



    <div class="frame">
      <img class="mainRelease" src="assets/img/Releases/Release1.png" alt="">
      <img class="vinylNew" src="assets/img/Releases/Vinyl.png">
      <p class="newestRelease-SongName">Song Name</p>
      <p class="newestRelease-ArtistName">Simply Music</p>

<!--      <audio class="audio-player" controls>-->
<!--        <source src="mein-song.mp3" type="audio/mpeg">-->
<!--      </audio>-->


    </div>


<!--    <hr class="breakLine">-->
<!--    <p class="breaklineText">OLDER RELEASES</p>-->






    <!--    <div style="float: left; margin-top: 10px;">-->
<!--      <img class="olderRelease" src="assets/img/Releases/ReleaseOld.png" alt="">-->
<!--      <img class="vinylOld" src="assets/img/Releases/VinylOld.png"  alt="">-->
<!--      <p class="albumName">ALBUM NAME</p>-->
<!--    </div>-->

  </div>
</div>


