.footer {
  display: flex;

  color: white;
  background: #212121;
  height: 60px;

  justify-content: center;
  align-items: center;
}

.footerContent-left {
  float: left;
  margin-right: 10%;
}

.footerContent-right {
  float: right;
  margin-left: 10%;
}

.Icons {
  transition: 0.3s;
  width: 15px;
  margin-right: 20px;
  fill: #ffffff;
}

.Icons:hover {
  transition: 0.3s;
fill: #727272;

}



.footer-buttons {
  transition: 0.3s;
  background: transparent;
  border: none;
  color: #ffffff;
  font-family: Poppins;
  font-size: 12px;
  /*padding-left: 400px;*/
}

.footer-buttons:hover {
  transition: 0.3s;
  color: #adadad;

}

.footer-artist-name {
  transition: 0.3s;
  margin-top: 18px;
  font-family: OmegaCentauri;
  font-size: 17px;

  margin-left:-30px;
  cursor: pointer;
  color: white;
}

.footer-artist-name:hover {
  transition: 0.3s;
  /*font-size: 19px;*/
  color: #adadad;
}
