<app-button-group></app-button-group>

<div class="content">
  <img class="albumCover" src="assets/img/cover.png" height="500px"
       style="display: flex; justify-content: center;position: absolute; margin-top: 80px">
</div>

<div class="content">
  <img class="albumCover" src="assets/img/cover.png" height="500px"
       style="display: flex; justify-content: center;position: absolute; margin-top: 680px">
</div>

<div class="content">
  <img class="albumCover" src="assets/img/cover.png" height="500px"
       style="display: flex; justify-content: center;position: absolute; margin-top: 1280px">
</div>
