.frame {
  display: flex;
  flex-direction: row;
}

.newestRelease {
  transition: 1s;
  position: absolute;
  width: 300px;
  float: left;
  order: 2;
  margin-top: 30px;
  margin-left: 30px;
}



.newestRelease:hover + .vinyl {
  transition: 1s;
  margin-left: 180px
}

.newestRelease:hover {
  transition: 1s;
  border-radius: 10px;

}
