


.ArtistName {
  font-family: OmegaCentauri;
  font-size: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 320px;
}

.iconGroup {

  display: flex;
  justify-content: center;


}

.embossedRect {
  /*display: inline-block;*/
  padding-inline: 30px;
  background: #e8e8e8;
  box-shadow: 7px 7px 12px rgba(34, 34, 34, 0.25), -7px -7px 6px rgba(255, 255, 255, 0.53);
  border-radius: 13px;
  width: auto;
  height: 60px;
  justify-content: center;
}

.Icons {
  transition: 1s;
  margin-right: 50px;
  width: 40px;
  margin-top: 11px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.Icons:hover {
transform: translateY(-8px);

}



.IconRight {
  transition: 1s;
  width: 40px;
  margin-top: 10px;
  margin-right: 10px;
  transition: transform 0.5s ease;

}

.IconRight:hover {
  transform: translateY(-8px);

}

.instagramIcon:hover {
  transition: 1s;
  fill: url(#gradient);
}

.youtubeIcon:hover {
  transition: 1s;
  fill: #ff2727;
}

.soundcloudIcon:hover {
  transition: 1s;
  fill: #ef630d;
}

.spotifyIcon:hover {
  transition: 1s;
  fill: #15a100;
}

.applemusicIcon:hover {
  transition: 1s;
  fill: #de4e4e;
}


.goDownButton {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  margin-top: 180px;
  background: #e8e8e8;
  box-shadow: 4px 4px 6px rgba(34, 34, 34, 0.25), -4px -4px 6px rgba(255, 255, 255, 0.65);
  font-family: Poppins;
  transition: transform 0.45s ease;

}

.goDownButton:hover {

  transform: scale(115%);
  transition: 0.45s;
  background: #eeeeee;

}
