/*defining all custom css styling here*/
/**************************************/

body {

}

.customButton {
  transition: 0.3s;
  border-radius: 5px;

  color: black;
  border: none;
  background: none;
  margin-left: 20px;
  font-size: 30px;

  font-family: Poppins;

}



.customButton:hover {
  /*transition: 0.4s;*/



  /*background-image: url('../../../assets/img/buttonBackground.png');*/
  /*background-repeat: no-repeat;*/
  /*background-size: 120px;*/
  /*background-position-y: 11px;*/
}

.customButtonStart:hover {
  transition: 0.5s;
  color:orange;
}

.customCentering {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}



