/*defining all custom css styling here*/
/**************************************/


@font-face {
  font-family: "OmegaCentaur";
  src: url("src/assets/fonts/OmegaCentauri.ttf");
}

body {

}

.customButton {

  color: white;
  border: none;
  background: none;
  margin-left: 20px;
  font-size: 20px;

  font-family: Poppins;


}


.customButton:hover {
  /*transition: 0.4s;*/


}

.customButtonStart:hover {
  transition: 0.5s;
  color: orange;
}

.customCentering {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;

  height: 60px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  background: linear-gradient(90.07deg, #FF881B -0.47%, #8F00A6 99.17%);
  /*background-image: url("/assets/img/buttonGroupBackground.png");*/


}




