<!--<span  class="customCentering" style="font-family: Poppins; font-size: 60px">SIMPLY MUSIC</span>-->


  <div class="customCentering">


    <button #homeButton class="customButton"
            [ngStyle]="{'border-bottom': this.activeButtons.home ? '2px solid rgb(255,255,255)' : '0px solid rgb(255,255,255)'}"
            (click)="checkIfActive('home'); debug('');">HOME
    </button>
    <button #tracksButton class="customButton"
            [ngStyle]="{'border-bottom': this.activeButtons.tracks ? '2px solid rgb(255,255,255)' : '0px solid rgb(255,255,255)'}"
            (click)="checkIfActive('tracks'); debug('')">TRACKS
    </button>
    <button #contactButton class="customButton"
            [ngStyle]="{'border-bottom': this.activeButtons.contact ? '2px solid rgb(255,255,255)' : '0px solid rgb(255,255,255)'}"
            (click)="checkIfActive('contact');">CONTACT
    </button>
    <button #aboutMe class="customButton"
            [ngStyle]="{'border-bottom': this.activeButtons.aboutMe ? '2px solid rgb(255,255,255)' : '0px solid rgb(255,255,255)'}"
            (click)="checkIfActive('aboutMe');">ABOUT ME
    </button>

  </div>

